[Unit]
Description=Orbit NTNU public website
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
User=orbit
WorkingDirectory=/home/orbit/services.web/websites/web-public-website/web-app/deployment

Environment=PORT=3034
Environment=NODE_VERSION=20

ExecStart=/usr/bin/docker compose up -d --build
ExecStop=/usr/bin/docker compose down

TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
