[Unit]
Description=Orbit NTNU public website
After=network.target

[Service]
Type=simple
User=orbit
WorkingDirectory=/home/orbit/services.web/websites/web-public-website/web-app

Environment=PORT=3034
Environment=NODE_VERSION=20

ExecStart=/bin/bash -lc "npm run start"

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
